/*  <weight>: Use a value from 300 to 700
    <uniquifier>: Use a unique and descriptive class name

.quicksand-<uniquifier> {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

/*----------------------------------------------------------------------------
    Generic
----------------------------------------------------------------------------*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Element - Base
------------------------------------------------------------------------------*/

body{
    font-family: "Quicksand", serif;
    margin: 0;
    padding: 0;

}

.wrapper {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

/*------------------------------------------------------------------------------
   Composantes / Modules
------------------------------------------------------------------------------*/

/* HEADER */

header{
    background-color: #34495E;
    padding-top: 80px;
    padding-bottom: 70px;
}

header .wrapper h1{
    margin: 0;

    font-family: "Roboto", serif;
    font-weight: 900;
    font-size: 6rem;
    line-height: 113%;
    letter-spacing: 2.16rem;
    color: white;
    text-align: center;
}

/* SECTION CITATION */

section.citation {
    padding-top: 80px;
    padding-bottom: 126px;
    text-align: center; 
    display: flex;
    justify-content: flex-end;
}

section.citation h2{
    margin: 0;
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 3rem;
    
}

section.citation p{
    margin: 0;
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 3rem;
    text-align: end;
}

/* SECTION CONTENU */

section.contenu{
    padding: 40px 50px;
}

section.contenu .wrapper{
    max-width: 1100px;
}

section.contenu .circle {
    width: 210px;
    height: 210px;
    line-height: 210px;
    border-radius: 50%;
    border-color: #D35400;
    border-style: solid;
    font-size: 1.875rem;
    color: #D35400;
    text-align: center;
    background: white;
    margin: 0;
    
  }

section.contenu h2{
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
}

/* ARTICLE SECTION CONTENU */



article.guillemets div{
    padding: 10px 143px 10px 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    
}

section.contenu article div:hover{
    background-color: #BDC3C7;

}

article.espace div{
    padding: 10px 50px 10px 208px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    
}

article.windows div{
    padding: 10px 143px 10px 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

article.lineheight div{
    padding: 10px 50px 10px 208px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

/* SECTION GREG */

section.greg{
    margin-bottom: 43px;
}

section.greg article{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center ;
    gap: 50px;
    
}

section.greg p{
    font-family: "Roboto", serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
}

section.greg h3{
    font-family: "Roboto", serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
}

section.greg .bassem{
    max-width: 476px;
    max-height: 353px;
}

/* FOOTER */

footer{
    background-color: #2980B9;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer p{
    font-family: "Roboto", serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

footer .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



